.header {
  margin-bottom: 20px;
}

.has-tooltip {
  z-index: 0;
  position: relative;
  color: #000;
  background: yellow;
}

.has-tooltip:hover {
  color: red;
}

.tooltip {
  z-index: 1;
  position: absolute;
  display: none;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.tooltip_active {
  display: block;
}
